@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
  }

body {
    background-color: #E5E5E5;
    width: 414px;
    margin-top: 122px;
    margin-bottom: 122px;
}

.topo {
    background-color:#CF2B2B;
    width: 414px;
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.texto-topo {
    margin-left: 21px;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 44px;
    font-weight: 400;
    color:#FFFFFF;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color:#FFFFFF;
}

.texto-principal {
    color: #333333;
    margin-left: 19px;
    margin-top: 31px;
    margin-bottom: 17px;
    font-family: 'Righteous', cursive;
    font-size: 26px;
    font-weight: 400;
}

.caixa-prato,
.caixa-bebida,
.caixa-sobremesa {
    display: flex;
    overflow-x: scroll;

}

.pedido-prato {
    background-color: #FFFFFF;
    width: 172px;
    height: 216px;
    border-radius: 9px;
    margin-left: 14px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}

.pedido-bebida {
    background-color: #FFFFFF;
    width: 172px;
    height: 202px;
    border-radius: 9px;
    margin-left: 14px; 
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}

.pedido-sobremesa {
    background-color: #FFFFFF;
    width: 172px;
    height: 197px;
    border-radius: 9px;
    margin-left: 14px; 
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}

.produto {
    width: 144px;
    height: 87px;
    margin-top: 18px;
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 8px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    margin-left: 15px;
    margin-bottom: 8px;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #A6A6A6;
    margin-left: 14px;
    margin-bottom: 10px;
}

.pedido-prato p,
.pedido-bebida p,
.pedido-sobremesa p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-left: 14px;
}

.botao-inferior {
    width: 414px;
    height: 92px;
    background-color: #FFFFFF;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

.seletor {
font-family: 'Roboto', sans-serif;
width: 364px;
height:61px;
border-radius: 50px;
background-color: #CBCBCB;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: 20px;
font-weight: 400;
color: #FFFFFF;
}

.mudarFundo {
    background-color:  #32B72F;
}

.pedido-texto-prato,
.pedido-texto-bebida,
.pedido-texto-sobremesa {
 position: relative;
}

.botão {
width: 19px;
height: 19px;
opacity: 0;
position: absolute;
right: 15px;
bottom: 0;
}

.selecionado {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}

/* na classe selecionado o botão terá opacity 1 e não 0 como antes */
.selecionado .botão {
    opacity: 1;
}